/*nouuvelle police*/

@font-face{ 
	font-family: "raleway";
		src: url("raleway/raleway-light.eot") format("eot"),
			url("raleway/raleway-light.woff") format("woff"),
			url("raleway/raleway-light.ttf") format("truetype"),
			url("raleway/raleway-light.svg") format("svg");
	font-weight: normal;
}

/* En-tête */

.en_tete{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1024px)
{
    .lien a:hover{
		border-bottom: 2px #0065FC solid;
	}
}

.logo{
	width: 8%;
	margin-left: 1%;
	display: flex;
	align-items: center;
}

.principaux{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.lien{
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.lien a{
	height: 80%;
	display: flex;
	align-items: center;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.lien a:hover{
	color: #0065FC;
	border-top: 2px #0065FC solid;
}

.inscription{
	height: 80%;
	display: flex;
	align-items: center;
}

.inscription a{
	height: 80%;
	display: flex;
	align-items: center;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	color: #0065FC;
}

.inscription a:hover{
	color: #0065FC;
	border-top: 2px #0065FC solid;
}

/* Eléments principaux de la page */

html{
	height: 100%;	
}

body{
	background-color: white;
	font-family: 'raleway-light';
	height: 100%;
	font-family: "raleway";
}

/*en-tête*/

.titre_page{
	margin-left: 1%;
}

#recherche{
	width: 25%;
	height: 40px;
	margin-left: 1%;
}

@media screen and (max-width: 1024px)
{
    #recherche{
		width: 90%;
	}
}

#recherche form{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#recherche i{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F2F2F2;
}

#recherche input{
	width: 60%;
	height: 100%;
	font-size: 0.8em;
	font-weight: bold;
	border: none;
}

#recherche button{
	width: 30%;
	height: 100%;
	border: none;
	outline-style:none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0065FC;
	color: white;
}

.header{
	height: 50%;
	width: 100%;
}

.nav{
	height: 5%;
	width : 70%;
	margin-left: 1%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width: 1024px)
{
    .nav{
		display: flex;
		flex-direction: column;
		align-items: left;
	}
}

.nav p{
	font-size: 15px;
	font-weight: bold;
	width: 5%;
}

.onglet{
	width: 90%;
	height: 100px;
	display: flex;
	align-items: center;
	border: 2px black solid;
}

@media screen and (max-width: 1024px)
{
    .onglet{
		height: 200px;
		flex-wrap: wrap;
	}
}

.onglet_enfant{
	width: 80%;
	height: 40%;
	display: flex;
	justify-content: space-around;
	border-radius: 50px;
	border: 2px #DEEBFF solid;
}

@media screen and (max-width: 1024px)
{
    .onglet_enfant{
		height: 20%;
	}
}

.onglet_enfant:hover{
	opacity: 0.6;
}

.icone_onglet{
	width: 20%;
	height: 100%;
	border: 2px black solid;
}

.onglet_enfant i{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
}

.onglet_enfant button{
	width: 80%;
	border-radius: 25px;
	font-weight: bold;
	background-color: white;
	border: none;
}

.info{
	margin-left: 1%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.fa-info-circle{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0065FC;
	color: white;
	border: 2px #DEEBFF solid;
	border-radius: 50%;
}

.info h3{
	margin-left: 1%;
}

.economique{
	display: flex;
	width: 20%;
	border: 2px black solid;
}

.familial{
	display: flex;
	width: 20%;
	border: 2px black solid;
}

.romantique{
	display: flex;
	width: 20%;
	border: 2px black solid;
}

.animaux{
	display: flex;
	width: 20%;
	border: 2px black solid;
}

.loisirs{
	width: 100%;
	height: 600px;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
}

@media screen and (max-width: 1024px)
{
    .loisirs{
		height: 800px;
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
	}
}

h1{
	font-size: 1.2em;
}

h2{
	font-size: 0.8em;
	font-weight: bold;
}

h3{
	font-size: 0.7em;
}

p{
	font-size: 0.7em;
}

/*hebergements*/

#hebergements{
	width: 70%;
	justify-content: left;
	align-content: space-between;
	background-color: #F2F2F2;
	border-radius: 15px;
}

@media screen and (max-width: 1024px)
{
    #herbergements{
		width: 90%;
	}
}

.hebergements_titre{
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
}

.hebergements_enfant{
	width: 100%;
	height: 80%;
	justify-content: space-between;
}

.hebergements_enfant a{
	color: black;
	text-decoration: none;
}
.bloc_haut{
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

.bloc_bas{
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stars{
	width: 95%;
	height: 20%;
	font-size: 0.8em;
	display: flex;
	padding-left: 5%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.blue{
	color: #0065FC;
	display: flex;
}

.grey{
	color: #F2F2F2;
	display: flex;
}

.bloc_texte_heb{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.bloc_texte_heb h2{
	width: 95%;
	height: 20%;
	margin: 0;
	padding-left: 5%;
}

.bloc_texte_heb p{
	width: 95%;
	height: 20%;
	margin: 0;
	padding-left: 5%;
}

.image_cannebiere{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.auberge_cannebiere{
	width: 25%;
	height: 80%;
	background-color: white;
	border-radius: 15px;
}

.auberge_cannebiere:hover{
	opacity: 0.6;
}

.image_hotel_port{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.hotel_port{
	width: 25%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
}

.hotel_port:hover{
	opacity: 0.6;
}

.image_hotel_mouettes{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.hotel_mouettes{
	width: 25%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
}

.hotel_mouettes:hover{
	opacity: 0.6;
}

.image_hotel_mer{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.hotel_mer{
	width: 25%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
}

.hotel_mer:hover{
	opacity: 0.6;
}

.image_auberge_panier{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.auberge_panier{
	width: 25%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
}

.auberge_panier:hover{
	opacity: 0.6;
}

.image_amina{
	width: 100%;
	height: 60%;
	background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.hotel_amina{
	width: 25%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
}

.hotel_amina:hover{
	opacity: 0.6;
}

.afficher{
	height: 8%;
	padding-left: 5%;
}

.afficher a{
	font-weight: bold;
	text-decoration: none;
	color: black;
}

/*populaires*/

.populaires{
	width: 25%;
	height : 100%;
	background-color: #F2F2F2;
	border-radius: 15px;
}

@media screen and (max-width: 1024px)
{
    .populaires{
		width: 90%;
	}
}

.populaires_titre{
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
}

.populaires_titre i{
	padding-right: 5%;
}

.populaires_enfant{
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}

.populaires_enfant a{
	color: black;
	text-decoration: none;
}

.bloc_texte_pop{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bloc_texte_pop h2{
	width: 100%;
	height: 30%;
	padding-left: 5%;
	margin: 0;
}

.bloc_texte_pop p{
	width: 100%;
	height: 30%;
	padding-left: 5%;
	margin: 0;
}

.description_pop{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.hotel_soleil_matin{
	width: 90%;
	height: 30%;
	display: flex;
	background-color: white;
	border-radius: 15px;
}

.image_soleil_matin{
	width: 40%;
	height: 100%;
	background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
	background-position: center;
	background-size: 220%;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.image_soleil_matin:hover{
	opacity: 0.6;
}

.coeur_eau{
	width: 90%;
	height: 30%;
	display: flex;
	background-color: white;
	border-radius: 15px;
}

.image_coeur_eau{
	width: 40%;
	height: 100%;
	background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
	background-position: center;
	background-size: 220%;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.image_coeur_eau:hover{
	opacity: 0.6;
}

.hotel_bleu_blanc{
	width: 90%;
	height: 30%;
	display: flex;
	background-color: white;
	border-radius: 15px;
}

.image_bleu_blanc{
	width: 40%;
	height: 100%;
	background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
	background-position: center;
	background-size: 170%;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.image_bleu_blanc:hover{
	opacity: 0.6;
}

/*activites*/

#activites{
	width: 100%;
	height: 400px;
	align-items: baseline;
}

#activites h1{
	width: 100%;
	height: 5%;
	padding-left: 2.5%;
}

.activites_enfant{
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}

.activites_enfant a{
	text-decoration: none;
	color: black;
}

.activites_enfant p{
	font-size: 0.8em;
	font-weight: bold;
	margin: 0;
}

.vieux_port{
	width: 20%;
	height: 300px;	
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
}

.image_vieux_port{
	width: 100%;
	height: 85%;
	background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
	background-position: center;
	background-size: 170%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.vieux_port:hover{
	opacity: 0.6;
}

.vieux_port p{
	width: 95%;
	height: 15%;
	display: flex;
	align-items: center;
	padding-left: 5%;

}
.fort_et_iles{
	width: 20%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.fort_promegues{
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
}

.image_promegues{
	width: 100%;
	height: 70%;
	background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.fort_promegues:hover{
	opacity: 0.6;
}

.fort_promegues p{
	width: 95%;
	height: 30%;
	display: flex;
	align-items: center;
	padding-left: 5%;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.iles_frioul{
	width: 100%;
	height: 45%;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
}

.image_frioul{
	width: 100%;
	height: 70%;
	background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.iles_frioul:hover{
	opacity: 0.6;
}

.iles_frioul p{
	width: 95%;
	height: 30%;
	display: flex;
	align-items: center;
	padding-left: 5%;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.calanques{
	width: 20%;
	height: 300px;
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
}

.image_calanques{
	width: 100%;
	height: 85%;
	background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
	background-position: center;
	background-size: 170%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.calanques:hover{
	opacity: 0.6;
}

.calanques p{
	width: 95%;
	height: 15%;
	display: flex;
	align-items: center;
	padding-left: 5%;
}

.dame_longchamps{
	width: 20%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	border: 2px black solid;
}

.notre_dame{
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
	border: 2px red solid;
}

.image_notre_dame{
	width: 100%;
	height: 70%;
	background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 2px yellow solid;
}

.notre_dame:hover{
	opacity: 0.6;
}

.notre_dame p{
	width: 95%;
	height: 30%;
	display: flex;
	align-items: center;
	padding-left: 5%;
	border: 2px blue solid; 
}

.longchamps{
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 5px 20px grey;
}

.image_longchamps{	
	width: 100%;
	height: 70%;
	background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.longchamps:hover{
	opacity: 0.6;
}

.longchamps p{
	width: 95%;
	height: 30%;
	display: flex;
	align-items: center;
	padding-left: 5%;
}

/*Footer*/

footer{
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #F2F2F2;
}

@media screen and (max-width: 1024px)
{
    footer{
		display: flex;
	}
}

footer h3{
	font-size: 1em;	
}

#a_propos {
	height: 70%;
	flex-direction: column;
}

@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
}

#a_propos a{
	text-decoration: none;
	font-size: 0.8em;
	color: black;
}

#nos_hebergements{
	height: 70%;
	flex-direction: column;
}

#nos_hebergements a{
	text-decoration: none;
	font-size: 0.8em;
	color: black;	;
}

#assistance{
	height: 70%;
	flex-direction: column;
}

#assistance a{
	text-decoration: none;
	font-size: 0.8em;
	color: black;
}
